.snackbar-custom {
  position: fixed;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  opacity: 0;
  transition-property: opacity;
  z-index: 99999;
  pointer-events: none;
}

.snackbar-custom.snackbar-open {
  opacity: 1;
  pointer-events: all;
}

.snackbar-custom {
  width: auto;
}

.snackbar-custom.snackbar-showIcon {
  width: 20%;
}

.snackbar-custom .snackbar-content {
  display: flex;
  justify-content: start;
  align-items: center;
}

.snackbar-custom .snackbar-content .snackbar-icon {
  font-size: 1.25rem;
}

.snackbar-custom .snackbar-content .snackbar-message {
  color: white;
  font-size: 1rem;
  margin-left: 0;
}

.snackbar-custom.snackbar-showIcon .snackbar-content .snackbar-message {
  margin-left: 0.75rem;
}

.snackbar-custom .snackbar-closeIcon {
  cursor: pointer;
}

@media (max-width: 767px) {
  .snackbar-custom {
    position: fixed;
    width: calc(100% - 20px);
    top: 10px;
    left: 10px;
    padding: 20px 20px;
    right: auto;
    bottom: auto;
    z-index: 99999;
  }
}
