.snackbar-custom {
  position: absolute;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  opacity: 0;
  transition-property: opacity;
  z-index: 100000;
}

.snackbar-custom.snackbar-open {
  opacity: 1;
}

.snackbar-custom {
  width: auto;
}

.snackbar-custom.snackbar-showIcon {
  width: 20%;
}

.snackbar-custom .snackbar-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.snackbar-custom .snackbar-content .snackbar-icon {
  font-size: 1.25rem;
}

.snackbar-custom .snackbar-content .snackbar-message {
  color: white;
  font-size: 1rem;
  margin-left: 0;
}

.snackbar-custom.snackbar-showIcon .snackbar-content .snackbar-message {
  margin-left: 0.75rem;
}

.snackbar-custom .snackbar-closeIcon {
  cursor: pointer;
}

@media (max-width: 767px) {
  .snackbar-custom {
    width: calc(100% - 20px) !important;
    right: auto !important;
    top: 15px !important;
    bottom: auto !important;
    left: 15px !important;
  }
}
